/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

*{box-sizing: border-box;}

.container{
  @media all and (min-width: 769px){
    min-width: 1280px;
  }
  margin-left: auto;
  margin-right: auto;
  padding: 1200px 0;
}
.alternative-layout{
  height: 300px;
  @media all and (min-width: 769px) {
    display: flex;
  }
  &~.alternative-layout{
    margin-top: 124px;
    @media all and (min-width: 769px) {
      margin-top: 64px;
    }
  }
  &.alternative-layout-reverse{
    @media all and (min-width: 769px) {
      flex-direction: row-reverse;
    }
    .alternative-layout_detail{
      @media all and (min-width: 769px) {
        margin: 30px -30px 0 0;
      }

    }
  }
  .alternative-layout_img{
    @media all and (min-width: 769px) {
      width: 70%;
    }
    height: 100%;
    background-image: url("https://picsum.photos/g/200/300/");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .alternative-layout_detail{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -150px;
    @media all and (min-width: 769px){
      width: 400px;
      margin: 30px 0 0 -30px;
    }
    height: 250px;
    background: #333;
    padding: 30px 50px;
    .alternative-layout_heading{
      font-size: 24px;
      font-weight: bold;
      color: #fff;
    }
    .alternative-layout_btn{
      margin-top: 50px;
      .btn{
        display: inlile-block;
        padding: 3px 5px;
        text-decoration: none;
        color: #fff;
        border: 1px solid #fff;
      }
    }
  }
}